<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="Cogni-robot">
  <link name="base_link">
    <inertial>
      <origin xyz="-1.1219501603328655e-05 -0.056526453492820504 -0.007126953017833521" rpy="0 0 0"/>
      <mass value="1.2458370682377469"/>
      <inertia ixx="0.002516" iyy="0.00237" izz="0.002929" ixy="-7.5e-05" iyz="0.000124" ixz="5e-06"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="base_link.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="base_link.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <link name="servo_sts3215_v1_1">
    <inertial>
      <origin xyz="2.4590533479708028e-05 0.013876940357002876 0.018114364058204026" rpy="0 0 0"/>
      <mass value="0.34332301760825074"/>
      <inertia ixx="9.9e-05" iyy="5.8e-05" izz="9.2e-05" ixy="0.0" iyz="-1e-06" ixz="0.0"/>
    </inertial>
    <visual>
      <origin xyz="-2e-06 0.064517 -0.050918" rpy="0 0 0"/>
      <geometry>
        <mesh filename="servo_sts3215_v1_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="-2e-06 0.064517 -0.050918" rpy="0 0 0"/>
      <geometry>
        <mesh filename="servo_sts3215_v1_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <link name="double_rotation_link_double_feetech_v1_1">
    <inertial>
      <origin xyz="0.002024750176840232 0.003710607069467957 -0.008500173682925022" rpy="0 0 0"/>
      <mass value="0.010490141865992935"/>
      <inertia ixx="1e-06" iyy="1e-06" izz="0.0" ixy="-0.0" iyz="-0.0" ixz="-0.0"/>
    </inertial>
    <visual>
      <origin xyz="-0.013856 0.050688 -0.138396" rpy="0 0 0"/>
      <geometry>
        <mesh filename="double_rotation_link_double_feetech_v1_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="-0.013856 0.050688 -0.138396" rpy="0 0 0"/>
      <geometry>
        <mesh filename="double_rotation_link_double_feetech_v1_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <link name="double_rotation_link_double_feetech_v1__1__1">
    <inertial>
      <origin xyz="-0.0020246958284255816 0.003710607069468068 0.008499821732979834" rpy="0 0 0"/>
      <mass value="0.010490141865992935"/>
      <inertia ixx="1e-06" iyy="1e-06" izz="0.0" ixy="0.0" iyz="0.0" ixz="-0.0"/>
    </inertial>
    <visual>
      <origin xyz="0.016125 0.050688 -0.121396" rpy="0 0 0"/>
      <geometry>
        <mesh filename="double_rotation_link_double_feetech_v1__1__1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="0.016125 0.050688 -0.121396" rpy="0 0 0"/>
      <geometry>
        <mesh filename="double_rotation_link_double_feetech_v1__1__1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <link name="servo_sts3215_v1__2__1">
    <inertial>
      <origin xyz="-0.014980074180713072 0.016417183569695955 0.01679119183449934" rpy="0 0 0"/>
      <mass value="0.34332301760825074"/>
      <inertia ixx="9.9e-05" iyy="9.2e-05" izz="5.8e-05" ixy="-0.0" iyz="1e-06" ixz="0.0"/>
    </inertial>
    <visual>
      <origin xyz="-0.013756 0.043788 -0.121396" rpy="0 0 0"/>
      <geometry>
        <mesh filename="servo_sts3215_v1__2__1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="-0.013756 0.043788 -0.121396" rpy="0 0 0"/>
      <geometry>
        <mesh filename="servo_sts3215_v1__2__1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <link name="chest_1">
    <inertial>
      <origin xyz="0.00015427959004198446 -0.03577287736870712 0.04773966957719847" rpy="0 0 0"/>
      <mass value="0.5907354450700422"/>
      <inertia ixx="0.000783" iyy="0.001095" izz="0.001456" ixy="-0.0" iyz="-1.5e-05" ixz="-0.0"/>
    </inertial>
    <visual>
      <origin xyz="0.001248 0.009256 -0.12431" rpy="0 0 0"/>
      <geometry>
        <mesh filename="chest_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="0.001248 0.009256 -0.12431" rpy="0 0 0"/>
      <geometry>
        <mesh filename="chest_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <link name="servo_sts3215_v1__3__1">
    <inertial>
      <origin xyz="-0.012768569454018337 0.14162474034428557 0.12350985679084983" rpy="0 0 0"/>
      <mass value="0.34332301760825074"/>
      <inertia ixx="9.2e-05" iyy="5.8e-05" izz="9.9e-05" ixy="1e-06" iyz="0.0" ixz="-0.0"/>
    </inertial>
    <visual>
      <origin xyz="-0.07121 0.198323 -0.052344" rpy="0 0 0"/>
      <geometry>
        <mesh filename="servo_sts3215_v1__3__1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="-0.07121 0.198323 -0.052344" rpy="0 0 0"/>
      <geometry>
        <mesh filename="servo_sts3215_v1__3__1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <link name="servo_sts3215_v1__4__1">
    <inertial>
      <origin xyz="0.01535895970710844 0.14162474034429673 0.12346961705796619" rpy="0 0 0"/>
      <mass value="0.34332301760825074"/>
      <inertia ixx="9.2e-05" iyy="5.8e-05" izz="9.9e-05" ixy="-1e-06" iyz="-0.0" ixz="-0.0"/>
    </inertial>
    <visual>
      <origin xyz="0.07639 0.198323 -0.052344" rpy="0 0 0"/>
      <geometry>
        <mesh filename="servo_sts3215_v1__4__1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="0.07639 0.198323 -0.052344" rpy="0 0 0"/>
      <geometry>
        <mesh filename="servo_sts3215_v1__4__1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <link name="servo_sts3215-2_1">
    <inertial>
      <origin xyz="0.010250157404470425 0.004721873144410249 0.016400350717485745" rpy="0 0 0"/>
      <mass value="0.2747881442151801"/>
      <inertia ixx="7.1e-05" iyy="3.8e-05" izz="6e-05" ixy="-0.0" iyz="1e-06" ixz="0.0"/>
    </inertial>
    <visual>
      <origin xyz="0.011529 0.061695 -0.171836" rpy="0 0 0"/>
      <geometry>
        <mesh filename="servo_sts3215-2_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="0.011529 0.061695 -0.171836" rpy="0 0 0"/>
      <geometry>
        <mesh filename="servo_sts3215-2_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <link name="neck_v2_1">
    <inertial>
      <origin xyz="0.0007485223224610761 -9.349216530497861e-05 0.01047807820130392" rpy="0 0 0"/>
      <mass value="0.056145921126082916"/>
      <inertia ixx="7e-06" iyy="2.5e-05" izz="2.2e-05" ixy="-0.0" iyz="0.0" ixz="-0.0"/>
    </inertial>
    <visual>
      <origin xyz="0.001279 0.069995 -0.206436" rpy="0 0 0"/>
      <geometry>
        <mesh filename="neck_v2_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="0.001279 0.069995 -0.206436" rpy="0 0 0"/>
      <geometry>
        <mesh filename="neck_v2_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <link name="servo-sts3215-2_1">
    <inertial>
      <origin xyz="-0.018200236746651933 0.01185966221025403 0.005376001252874213" rpy="0 0 0"/>
      <mass value="0.2747881442151801"/>
      <inertia ixx="6e-05" iyy="4.3e-05" izz="6.5e-05" ixy="1e-06" iyz="-1.2e-05" ixz="1e-06"/>
    </inertial>
    <visual>
      <origin xyz="-0.016552 0.069876 -0.22647" rpy="0 0 0"/>
      <geometry>
        <mesh filename="servo-sts3215-2_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="-0.016552 0.069876 -0.22647" rpy="0 0 0"/>
      <geometry>
        <mesh filename="servo-sts3215-2_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <link name="head_back_v2_1">
    <inertial>
      <origin xyz="-0.2399997142999622 0.06546375235283343 -0.019336533745128448" rpy="0 0 0"/>
      <mass value="0.5424516303112991"/>
      <inertia ixx="0.00084" iyy="0.001375" izz="0.001028" ixy="-4e-06" iyz="-9e-05" ixz="-5e-06"/>
    </inertial>
    <visual>
      <origin xyz="-0.237084 0.098493 -0.286565" rpy="0 0 0"/>
      <geometry>
        <mesh filename="head_back_v2_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="-0.237084 0.098493 -0.286565" rpy="0 0 0"/>
      <geometry>
        <mesh filename="head_back_v2_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <link name="head_face_v1_1">
    <inertial>
      <origin xyz="-4.459929631812562e-08 -0.028186198727073175 -0.056621570075358396" rpy="0 0 0"/>
      <mass value="0.3123301638656947"/>
      <inertia ixx="0.000531" iyy="0.001043" izz="0.000671" ixy="-0.0" iyz="-9.1e-05" ixz="-0.0"/>
    </inertial>
    <visual>
      <origin xyz="0.00275 0.059835 -0.318712" rpy="0 0 0"/>
      <geometry>
        <mesh filename="head_face_v1_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="0.00275 0.059835 -0.318712" rpy="0 0 0"/>
      <geometry>
        <mesh filename="head_face_v1_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <link name="shoulder_right_v1_1">
    <inertial>
      <origin xyz="-0.01306709110545963 0.007820696038384783 0.0014317075357701825" rpy="0 0 0"/>
      <mass value="0.0899660706083263"/>
      <inertia ixx="3.4e-05" iyy="2.1e-05" izz="3.9e-05" ixy="0.0" iyz="-0.0" ixz="-1e-06"/>
    </inertial>
    <visual>
      <origin xyz="0.079145 0.070575 -0.175838" rpy="0 0 0"/>
      <geometry>
        <mesh filename="shoulder_right_v1_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="0.079145 0.070575 -0.175838" rpy="0 0 0"/>
      <geometry>
        <mesh filename="shoulder_right_v1_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <link name="servo_sts3215_v1__5__1">
    <inertial>
      <origin xyz="-0.013877451272128485 0.01811472819166042 -2.4511628808843167e-05" rpy="0 0 0"/>
      <mass value="0.34332301760825074"/>
      <inertia ixx="5.8e-05" iyy="9.2e-05" izz="9.9e-05" ixy="1e-06" iyz="-0.0" ixz="0.0"/>
    </inertial>
    <visual>
      <origin xyz="0.109235 0.080543 -0.17583" rpy="0 0 0"/>
      <geometry>
        <mesh filename="servo_sts3215_v1__5__1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="0.109235 0.080543 -0.17583" rpy="0 0 0"/>
      <geometry>
        <mesh filename="servo_sts3215_v1__5__1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <link name="arm_connector_Feetech_v1_1">
    <inertial>
      <origin xyz="0.12045527765318095 0.17016726912105506 0.07599086547781965" rpy="0 0 0"/>
      <mass value="0.05074794859181044"/>
      <inertia ixx="1.7e-05" iyy="9e-06" izz="1e-05" ixy="-0.0" iyz="0.0" ixz="0.0"/>
    </inertial>
    <visual>
      <origin xyz="0.268356 0.229168 -0.099838" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arm_connector_Feetech_v1_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="0.268356 0.229168 -0.099838" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arm_connector_Feetech_v1_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <link name="servo_sts3215_v1__6__1">
    <inertial>
      <origin xyz="-0.018114512757417434 -0.01387722901463357 -2.3824054988352827e-05" rpy="0 0 0"/>
      <mass value="0.34332301760825074"/>
      <inertia ixx="9.2e-05" iyy="5.8e-05" izz="9.9e-05" ixy="-1e-06" iyz="0.0" ixz="0.0"/>
    </inertial>
    <visual>
      <origin xyz="0.153421 0.051071 -0.175929" rpy="0 0 0"/>
      <geometry>
        <mesh filename="servo_sts3215_v1__6__1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="0.153421 0.051071 -0.175929" rpy="0 0 0"/>
      <geometry>
        <mesh filename="servo_sts3215_v1__6__1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <link name="upper_arm_double_right_v1_1">
    <inertial>
      <origin xyz="-0.22107288240092587 0.15743037821695768 0.0650156267884857" rpy="0 0 0"/>
      <mass value="0.13694142926786174"/>
      <inertia ixx="8.4e-05" iyy="0.00017" izz="0.000183" ixy="6e-06" iyz="-0.0" ixz="-1e-06"/>
    </inertial>
    <visual>
      <origin xyz="-0.018804 0.221543 -0.110773" rpy="0 0 0"/>
      <geometry>
        <mesh filename="upper_arm_double_right_v1_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="-0.018804 0.221543 -0.110773" rpy="0 0 0"/>
      <geometry>
        <mesh filename="upper_arm_double_right_v1_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <link name="servo_sts3215_v1__7__1">
    <inertial>
      <origin xyz="-0.017208380367383813 0.015020258661285056 -0.01356346876911077" rpy="0 0 0"/>
      <mass value="0.34332301760825074"/>
      <inertia ixx="5.8e-05" iyy="9.9e-05" izz="9.2e-05" ixy="0.0" iyz="-0.0" ixz="1e-06"/>
    </inertial>
    <visual>
      <origin xyz="0.229322 0.076307 -0.191125" rpy="0 0 0"/>
      <geometry>
        <mesh filename="servo_sts3215_v1__7__1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="0.229322 0.076307 -0.191125" rpy="0 0 0"/>
      <geometry>
        <mesh filename="servo_sts3215_v1__7__1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <link name="avant_bras_right_v1_1">
    <inertial>
      <origin xyz="-0.04401322687622705 0.008650797389780515 -0.013814355351612906" rpy="0 0 0"/>
      <mass value="0.18662199745727184"/>
      <inertia ixx="7.3e-05" iyy="0.000311" izz="0.000295" ixy="-2.8e-05" iyz="4e-06" ixz="3.5e-05"/>
    </inertial>
    <visual>
      <origin xyz="0.260407 0.061311 -0.195676" rpy="0 0 0"/>
      <geometry>
        <mesh filename="avant_bras_right_v1_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="0.260407 0.061311 -0.195676" rpy="0 0 0"/>
      <geometry>
        <mesh filename="avant_bras_right_v1_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <link name="servo_sts3215_v1__8__1">
    <inertial>
      <origin xyz="-0.014980236005768921 0.01356378910879575 -0.016791085066439754" rpy="0 0 0"/>
      <mass value="0.34332301760825074"/>
      <inertia ixx="9.9e-05" iyy="9.2e-05" izz="5.8e-05" ixy="0.0" iyz="1e-06" ixz="-0.0"/>
    </inertial>
    <visual>
      <origin xyz="0.350456 0.072251 -0.204256" rpy="0 0 0"/>
      <geometry>
        <mesh filename="servo_sts3215_v1__8__1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="0.350456 0.072251 -0.204256" rpy="0 0 0"/>
      <geometry>
        <mesh filename="servo_sts3215_v1__8__1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <link name="Prehenseur_fifty_fifty_Pousse_right_v1_1">
    <inertial>
      <origin xyz="-0.09825620673470975 0.16512151311312523 0.3243400057801342" rpy="0 0 0"/>
      <mass value="0.21023886280433182"/>
      <inertia ixx="2.9e-05" iyy="9.5e-05" izz="0.000118" ixy="-0.0" iyz="-0.0" ixz="-3e-06"/>
    </inertial>
    <visual>
      <origin xyz="0.293209 0.222058 0.168114" rpy="0 0 0"/>
      <geometry>
        <mesh filename="Prehenseur_fifty_fifty_Pousse_right_v1_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="0.293209 0.222058 0.168114" rpy="0 0 0"/>
      <geometry>
        <mesh filename="Prehenseur_fifty_fifty_Pousse_right_v1_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <link name="Prehenseur_fifty_fifty_Main_right_v1_1">
    <inertial>
      <origin xyz="-0.03631683785255063 0.018447497238708865 0.005876678058039098" rpy="0 0 0"/>
      <mass value="0.2802698772366261"/>
      <inertia ixx="7.9e-05" iyy="0.000109" izz="0.000166" ixy="1e-06" iyz="-0.0" ixz="-8e-06"/>
    </inertial>
    <visual>
      <origin xyz="0.36546 0.076802 -0.201342" rpy="0 0 0"/>
      <geometry>
        <mesh filename="Prehenseur_fifty_fifty_Main_right_v1_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="0.36546 0.076802 -0.201342" rpy="0 0 0"/>
      <geometry>
        <mesh filename="Prehenseur_fifty_fifty_Main_right_v1_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <link name="shoulder_left_v1_1">
    <inertial>
      <origin xyz="0.013069081541579305 0.007818922979524329 0.0014314415043581996" rpy="0 0 0"/>
      <mass value="0.08997068728227473"/>
      <inertia ixx="3.4e-05" iyy="2.1e-05" izz="3.9e-05" ixy="-0.0" iyz="-0.0" ixz="1e-06"/>
    </inertial>
    <visual>
      <origin xyz="-0.076556 0.070575 -0.17583" rpy="0 0 0"/>
      <geometry>
        <mesh filename="shoulder_left_v1_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="-0.076556 0.070575 -0.17583" rpy="0 0 0"/>
      <geometry>
        <mesh filename="shoulder_left_v1_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <link name="servo_sts3215_v1__9__1">
    <inertial>
      <origin xyz="0.01387684152521737 0.018114728191638348 2.3728104074888234e-05" rpy="0 0 0"/>
      <mass value="0.34332301760825074"/>
      <inertia ixx="5.8e-05" iyy="9.2e-05" izz="9.9e-05" ixy="-1e-06" iyz="0.0" ixz="0.0"/>
    </inertial>
    <visual>
      <origin xyz="-0.106646 0.080543 -0.175822" rpy="0 0 0"/>
      <geometry>
        <mesh filename="servo_sts3215_v1__9__1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="-0.106646 0.080543 -0.175822" rpy="0 0 0"/>
      <geometry>
        <mesh filename="servo_sts3215_v1__9__1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <link name="arm_connector_Feetech_v1__1__1">
    <inertial>
      <origin xyz="0.17019711259990794 0.1701672691210283 -0.07599164900255378" rpy="0 0 0"/>
      <mass value="0.05074794859181044"/>
      <inertia ixx="1.7e-05" iyy="9e-06" izz="1e-05" ixy="0.0" iyz="-0.0" ixz="0.0"/>
    </inertial>
    <visual>
      <origin xyz="0.024886 0.229168 -0.251814" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arm_connector_Feetech_v1__1__1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="0.024886 0.229168 -0.251814" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arm_connector_Feetech_v1__1__1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <link name="servo_sts3215_v1__10__1">
    <inertial>
      <origin xyz="0.01811490301050525 -0.013877229014664351 2.404053025442665e-05" rpy="0 0 0"/>
      <mass value="0.34332301760825074"/>
      <inertia ixx="9.2e-05" iyy="5.8e-05" izz="9.9e-05" ixy="1e-06" iyz="-0.0" ixz="0.0"/>
    </inertial>
    <visual>
      <origin xyz="-0.150831 0.051071 -0.175722" rpy="0 0 0"/>
      <geometry>
        <mesh filename="servo_sts3215_v1__10__1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="-0.150831 0.051071 -0.175722" rpy="0 0 0"/>
      <geometry>
        <mesh filename="servo_sts3215_v1__10__1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <link name="upper_arm_double_right_v1__1__1">
    <inertial>
      <origin xyz="0.22087327265401402 -0.15592362178307972 -0.08201641031321949" rpy="0 0 0"/>
      <mass value="0.13694142926786174"/>
      <inertia ixx="8.4e-05" iyy="0.00017" izz="0.000183" ixy="-6e-06" iyz="0.0" ixz="-1e-06"/>
    </inertial>
    <visual>
      <origin xyz="0.021194 -0.091811 -0.257879" rpy="0 0 0"/>
      <geometry>
        <mesh filename="upper_arm_double_right_v1__1__1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="0.021194 -0.091811 -0.257879" rpy="0 0 0"/>
      <geometry>
        <mesh filename="upper_arm_double_right_v1__1__1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <link name="servo_sts3215_v1__11__1">
    <inertial>
      <origin xyz="0.023508770620472463 -0.008519981071643715 -0.013563488463505524" rpy="0 0 0"/>
      <mass value="0.34332301760825074"/>
      <inertia ixx="5.8e-05" iyy="9.9e-05" izz="9.2e-05" ixy="0.0" iyz="0.0" ixz="-1e-06"/>
    </inertial>
    <visual>
      <origin xyz="-0.220432 0.054157 -0.190935" rpy="0 0 0"/>
      <geometry>
        <mesh filename="servo_sts3215_v1__11__1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="-0.220432 0.054157 -0.190935" rpy="0 0 0"/>
      <geometry>
        <mesh filename="servo_sts3215_v1__11__1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <link name="avant_bras_left_1">
    <inertial>
      <origin xyz="0.04401274040087039 0.008650758693461914 -0.013814967864695243" rpy="0 0 0"/>
      <mass value="0.186625466869739"/>
      <inertia ixx="7.3e-05" iyy="0.000311" izz="0.000295" ixy="2.8e-05" iyz="4e-06" ixz="-3.5e-05"/>
    </inertial>
    <visual>
      <origin xyz="-0.257818 0.062653 -0.195486" rpy="0 0 0"/>
      <geometry>
        <mesh filename="avant_bras_left_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="-0.257818 0.062653 -0.195486" rpy="0 0 0"/>
      <geometry>
        <mesh filename="avant_bras_left_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <link name="servo_sts3215_v1__12__1">
    <inertial>
      <origin xyz="0.03147486599174237 -0.2013020696547163 0.3583558952391649" rpy="0 0 0"/>
      <mass value="0.34332301760825074"/>
      <inertia ixx="9.9e-05" iyy="9.2e-05" izz="5.8e-05" ixy="0.0" iyz="1e-06" ixz="-0.0"/>
    </inertial>
    <visual>
      <origin xyz="-0.331412 -0.141473 0.171081" rpy="0 0 0"/>
      <geometry>
        <mesh filename="servo_sts3215_v1__12__1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="-0.331412 -0.141473 0.171081" rpy="0 0 0"/>
      <geometry>
        <mesh filename="servo_sts3215_v1__12__1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <link name="Prehenseur_fifty_fifty_Pousse_right_v1__1__1">
    <inertial>
      <origin xyz="-0.04738040301219948 0.1644526771798254 -0.38698301391426126" rpy="0 0 0"/>
      <mass value="0.21023886280433182"/>
      <inertia ixx="2.9e-05" iyy="9.5e-05" izz="0.000118" ixy="-0.0" iyz="0.0" ixz="3e-06"/>
    </inertial>
    <visual>
      <origin xyz="-0.436256 0.22301 -0.543019" rpy="0 0 0"/>
      <geometry>
        <mesh filename="Prehenseur_fifty_fifty_Pousse_right_v1__1__1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="-0.436256 0.22301 -0.543019" rpy="0 0 0"/>
      <geometry>
        <mesh filename="Prehenseur_fifty_fifty_Pousse_right_v1__1__1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <link name="screen_v1_1">
    <inertial>
      <origin xyz="0.0027494900833098072 0.2744593858544422 0.16906337877995842" rpy="0 0 0"/>
      <mass value="0.05357645890624925"/>
      <inertia ixx="1.5e-05" iyy="7.3e-05" izz="5.8e-05" ixy="0.0" iyz="-1e-06" ixz="-0.0"/>
    </inertial>
    <visual>
      <origin xyz="0.005499 0.372771 -0.108496" rpy="0 0 0"/>
      <geometry>
        <mesh filename="screen_v1_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="0.005499 0.372771 -0.108496" rpy="0 0 0"/>
      <geometry>
        <mesh filename="screen_v1_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <link name="spine_default_1">
    <inertial>
      <origin xyz="0.015025892749360163 0.009651890072813522 0.005568688082809373" rpy="0 0 0"/>
      <mass value="0.16070971272931903"/>
      <inertia ixx="0.00011" iyy="0.000136" izz="8.4e-05" ixy="0.0" iyz="1.1e-05" ixz="-0.0"/>
    </inertial>
    <visual>
      <origin xyz="0.014994 0.067431 -0.085449" rpy="0 0 0"/>
      <geometry>
        <mesh filename="spine_default_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="0.014994 0.067431 -0.085449" rpy="0 0 0"/>
      <geometry>
        <mesh filename="spine_default_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <link name="servo_sts3215_v1__1__1">
    <inertial>
      <origin xyz="-0.018113958627718682 -2.3729273459310862e-05 0.013877191834498925" rpy="0 0 0"/>
      <mass value="0.34332301760825074"/>
      <inertia ixx="9.2e-05" iyy="9.9e-05" izz="5.8e-05" ixy="0.0" iyz="-0.0" ixz="1e-06"/>
    </inertial>
    <visual>
      <origin xyz="-0.018406 0.065684 -0.12431" rpy="0 0 0"/>
      <geometry>
        <mesh filename="servo_sts3215_v1__1__1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="-0.018406 0.065684 -0.12431" rpy="0 0 0"/>
      <geometry>
        <mesh filename="servo_sts3215_v1__1__1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <link name="Prehenseur_fifty_fifty_Main_right_v1__1__1">
    <inertial>
      <origin xyz="0.03632040746598875 0.018552363625857257 0.005882952672508379" rpy="0 0 0"/>
      <mass value="0.2802698772366261"/>
      <inertia ixx="7.9e-05" iyy="0.000109" izz="0.000166" ixy="1e-06" iyz="0.0" ixz="8e-06"/>
    </inertial>
    <visual>
      <origin xyz="-0.362863 0.077943 -0.201152" rpy="0 0 0"/>
      <geometry>
        <mesh filename="Prehenseur_fifty_fifty_Main_right_v1__1__1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="-0.362863 0.077943 -0.201152" rpy="0 0 0"/>
      <geometry>
        <mesh filename="Prehenseur_fifty_fifty_Main_right_v1__1__1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <joint name="torso_yaw" type="revolute">
    <origin xyz="2e-06 -0.064517 0.050918" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="servo_sts3215_v1_1"/>
    <axis xyz="0.0 -0.0 -1.0"/>
    <limit upper="1.95" lower="-1.95" effort="100" velocity="100"/>
  </joint>
  <joint name="fixed_4" type="fixed">
    <origin xyz="-0.00455 0.014996 0.014086" rpy="0 0 0"/>
    <parent link="servo_sts3215_v1__1__1"/>
    <child link="double_rotation_link_double_feetech_v1_1"/>
  </joint>
  <joint name="fixed_5" type="fixed">
    <origin xyz="-0.034531 0.014996 -0.002914" rpy="0 0 0"/>
    <parent link="servo_sts3215_v1__1__1"/>
    <child link="double_rotation_link_double_feetech_v1__1__1"/>
  </joint>
  <joint name="fixed_6" type="fixed">
    <origin xyz="-0.0001 0.0069 -0.017" rpy="0 0 0"/>
    <parent link="double_rotation_link_double_feetech_v1_1"/>
    <child link="servo_sts3215_v1__2__1"/>
  </joint>
  <joint name="torso_pitch" type="revolute">
    <origin xyz="-0.015004 0.034532 0.002914" rpy="0 0 0"/>
    <parent link="servo_sts3215_v1__2__1"/>
    <child link="chest_1"/>
    <axis xyz="0.0 -1.0 0.0"/>
    <limit upper="0.785398" lower="-0.698132" effort="100" velocity="100"/>
  </joint>
  <joint name="fixed_8" type="fixed">
    <origin xyz="0.072458 -0.189067 -0.071966" rpy="0 0 0"/>
    <parent link="chest_1"/>
    <child link="servo_sts3215_v1__3__1"/>
  </joint>
  <joint name="fixed_9" type="fixed">
    <origin xyz="-0.075142 -0.189067 -0.071966" rpy="0 0 0"/>
    <parent link="chest_1"/>
    <child link="servo_sts3215_v1__4__1"/>
  </joint>
  <joint name="fixed_10" type="fixed">
    <origin xyz="-0.010281 -0.052439 0.047526" rpy="0 0 0"/>
    <parent link="chest_1"/>
    <child link="servo_sts3215-2_1"/>
  </joint>
  <joint name="neck_yaw" type="revolute">
    <origin xyz="0.01025 -0.0083 0.0346" rpy="0 0 0"/>
    <parent link="servo_sts3215-2_1"/>
    <child link="neck_v2_1"/>
    <axis xyz="-0.0 -0.0 -1.0"/>
    <limit upper="1.919862" lower="-1.832596" effort="100" velocity="100"/>
  </joint>
  <joint name="neck_pitch" type="revolute">
    <origin xyz="0.017831 0.000119 0.020034" rpy="0 0 0"/>
    <parent link="neck_v2_1"/>
    <child link="servo-sts3215-2_1"/>
    <axis xyz="1.0 -0.0 -0.0"/>
    <limit upper="0.40" lower="-0.45" effort="100" velocity="100"/>
  </joint>
  <joint name="fixed_13" type="fixed">
    <origin xyz="0.220532 -0.028617 0.060095" rpy="0 0 0"/>
    <parent link="servo-sts3215-2_1"/>
    <child link="head_back_v2_1"/>
  </joint>
  <joint name="fixed_14" type="fixed">
    <origin xyz="-0.239834 0.038658 0.032147" rpy="0 0 0"/>
    <parent link="head_back_v2_1"/>
    <child link="head_face_v1_1"/>
  </joint>
  <joint name="shoulder_roll_right" type="revolute">
    <origin xyz="-0.002755 0.127748 0.123494" rpy="0 0 0"/>
    <parent link="servo_sts3215_v1__4__1"/>
    <child link="shoulder_right_v1_1"/>
    <axis xyz="1.0 -0.0 -0.0"/>
    <limit upper="0.959931" lower="-3.93" effort="100" velocity="100"/>
  </joint>
  <joint name="shoulder_pitch_right" type="revolute">
    <origin xyz="-0.03009 -0.009968 -8e-06" rpy="0 0 0"/>
    <parent link="shoulder_right_v1_1"/>
    <child link="servo_sts3215_v1__5__1"/>
    <axis xyz="0.0 1.0 -0.0"/>
    <limit upper="1.67" lower="-1.80" effort="100" velocity="100"/>
  </joint>
  <joint name="fixed_17" type="fixed">
    <origin xyz="-0.159121 -0.148625 -0.075992" rpy="0 0 0"/>
    <parent link="servo_sts3215_v1__5__1"/>
    <child link="arm_connector_Feetech_v1_1"/>
  </joint>
  <joint name="shoulder_yaw_right" type="revolute">
    <origin xyz="0.114935 0.178097 0.076091" rpy="0 0 0"/>
    <parent link="arm_connector_Feetech_v1_1"/>
    <child link="servo_sts3215_v1__6__1"/>
    <axis xyz="1.0 -0.0 0.0"/>
    <limit upper="1.745329" lower="-1.745329" effort="100" velocity="100"/>
  </joint>
  <joint name="fixed_19" type="fixed">
    <origin xyz="0.172225 -0.170472 -0.065156" rpy="0 0 0"/>
    <parent link="servo_sts3215_v1__6__1"/>
    <child link="upper_arm_double_right_v1_1"/>
  </joint>
  <joint name="fixed_20" type="fixed">
    <origin xyz="-0.248126 0.145236 0.080352" rpy="0 0 0"/>
    <parent link="upper_arm_double_right_v1_1"/>
    <child link="servo_sts3215_v1__7__1"/>
  </joint>
  <joint name="elbow_right" type="revolute">
    <origin xyz="-0.031085 0.014996 0.004551" rpy="0 0 0"/>
    <parent link="servo_sts3215_v1__7__1"/>
    <child link="avant_bras_right_v1_1"/>
    <axis xyz="-0.0 -0.0 -1.0"/>
    <limit upper="0.0" lower="-2.4" effort="100" velocity="100"/>
  </joint>
  <joint name="fixed_22" type="fixed">
    <origin xyz="-0.090049 -0.01094 0.00858" rpy="0 0 0"/>
    <parent link="avant_bras_right_v1_1"/>
    <child link="servo_sts3215_v1__8__1"/>
  </joint>
  <joint name="fixed_23" type="fixed">
    <origin xyz="0.057247 -0.149807 -0.37237" rpy="0 0 0"/>
    <parent link="servo_sts3215_v1__8__1"/>
    <child link="Prehenseur_fifty_fifty_Pousse_right_v1_1"/>
  </joint>
  <joint name="gripper_right" type="revolute">
    <origin xyz="-0.015004 -0.004551 -0.002914" rpy="0 0 0"/>
    <parent link="servo_sts3215_v1__8__1"/>
    <child link="Prehenseur_fifty_fifty_Main_right_v1_1"/>
    <axis xyz="0.0 1.0 -0.0"/>
    <limit upper="1.745329" lower="-0.401426" effort="100" velocity="100"/>
  </joint>
  <joint name="shoulder_roll_left" type="revolute">
    <origin xyz="0.005346 0.127748 0.123486" rpy="0 0 0"/>
    <parent link="servo_sts3215_v1__3__1"/>
    <child link="shoulder_left_v1_1"/>
    <axis xyz="-1.0 0.0 -0.0"/>
    <limit upper="3.926991" lower="-0.96" effort="100" velocity="100"/>
  </joint>
  <joint name="shoulder_pitch_left" type="revolute">
    <origin xyz="0.03009 -0.009968 -8e-06" rpy="0 0 0"/>
    <parent link="shoulder_left_v1_1"/>
    <child link="servo_sts3215_v1__9__1"/>
    <axis xyz="-0.0 -1.0 0.0"/>
    <limit upper="1.67" lower="-1.80" effort="100" velocity="100"/>
  </joint>
  <joint name="fixed_27" type="fixed">
    <origin xyz="-0.131532 -0.148625 0.075992" rpy="0 0 0"/>
    <parent link="servo_sts3215_v1__9__1"/>
    <child link="arm_connector_Feetech_v1__1__1"/>
  </joint>
  <joint name="shoulder_yaw_left" type="revolute">
    <origin xyz="0.175717 0.178097 -0.076092" rpy="0 0 0"/>
    <parent link="arm_connector_Feetech_v1__1__1"/>
    <child link="servo_sts3215_v1__10__1"/>
    <axis xyz="-1.0 0.0 0.0"/>
    <limit upper="1.658063" lower="-1.570796" effort="100" velocity="100"/>
  </joint>
  <joint name="fixed_29" type="fixed">
    <origin xyz="-0.172025 0.142882 0.082157" rpy="0 0 0"/>
    <parent link="servo_sts3215_v1__10__1"/>
    <child link="upper_arm_double_right_v1__1__1"/>
  </joint>
  <joint name="fixed_30" type="fixed">
    <origin xyz="0.241626 -0.145968 -0.066944" rpy="0 0 0"/>
    <parent link="upper_arm_double_right_v1__1__1"/>
    <child link="servo_sts3215_v1__11__1"/>
  </joint>
  <joint name="elbow_left" type="revolute">
    <origin xyz="0.037386 -0.008496 0.004551" rpy="0 0 0"/>
    <parent link="servo_sts3215_v1__11__1"/>
    <child link="avant_bras_left_1"/>
    <axis xyz="0.0 -0.0 -1.0"/>
    <limit upper="2.40" lower="0.0" effort="100" velocity="100"/>
  </joint>
  <joint name="gripper_left" type="revolute">
    <origin xyz="0.031451 -0.219416 0.372233" rpy="0 0 0"/>
    <parent link="servo_sts3215_v1__12__1"/>
    <child link="Prehenseur_fifty_fifty_Main_right_v1__1__1"/>
    <axis xyz="0.0 1.0 -0.0"/>
    <limit upper="0.401426" lower="-1.570796" effort="100" velocity="100"/>
  </joint>
  <joint name="fixed_32" type="fixed">
    <origin xyz="0.073594 0.204126 -0.366567" rpy="0 0 0"/>
    <parent link="avant_bras_left_1"/>
    <child link="servo_sts3215_v1__12__1"/>
  </joint>
  <joint name="fixed_33" type="fixed">
    <origin xyz="0.104844 -0.364483 0.7141" rpy="0 0 0"/>
    <parent link="servo_sts3215_v1__12__1"/>
    <child link="Prehenseur_fifty_fifty_Pousse_right_v1__1__1"/>
  </joint>
  <joint name="fixed_35" type="fixed">
    <origin xyz="-0.002749 -0.312936 -0.210216" rpy="0 0 0"/>
    <parent link="head_face_v1_1"/>
    <child link="screen_v1_1"/>
  </joint>
  <joint name="fixed_36" type="fixed">
    <origin xyz="-0.014996 -0.002914 0.034531" rpy="0 0 0"/>
    <parent link="servo_sts3215_v1_1"/>
    <child link="spine_default_1"/>
  </joint>
  <joint name="spine_roll" type="revolute">
    <origin xyz="0.0334 0.001747 0.038861" rpy="0 0 0"/>
    <parent link="spine_default_1"/>
    <child link="servo_sts3215_v1__1__1"/>
    <axis xyz="1.0 0.0 0.0"/>
    <limit upper="0.959931" lower="-0.436332" effort="100" velocity="100"/>
  </joint>
</robot>
